
html {
    scroll-behavior: smooth;
  }
nav{

    position: absolute;
    top: 5px;
    left: 70vw;
    z-index: 5;

ul{
    display: flex;
    list-style-type: none ;
    justify-content: flex-end;
    padding-top:30px ;

    hover{ text-decoration: underline;}
    }
    li a{
        padding-right: 30px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        
       

    }

}